/* --- SIDEBAR --- */
.login-sidebar {
  width: 180px;
  background: #14b85b4b;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.login-sidebar-menu {
  margin-bottom: 20px;
  font-size: 24px;
}

.login-sidebar ul {
  list-style: none;
  padding: 0;
}

.login-sidebar li {
  margin: 12px 0;
}

.login-sidebar a {
  color: #14532d;
  text-decoration: none;
  font-weight: bold;
}

/* --- LOGIN FORM --- */
.login-form-container {
  margin-left: 420px;
  margin-top: 200px;
  padding: 40px;
  border: 5px solid #025420cf;
  border-radius: 10px;
  width: 400px;
}

.login-field {
  margin-left: 80px;
  margin-bottom: 20px;
}

.login-button {
  margin-left: 80px;
  padding: 8px 16px;
  background: #14532d;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.login-button:hover {
  background: #0f3d21;
}

/* --- FOOTER --- */
.login-footer {
  margin-left: 220px;
  position: fixed;
  bottom: 0;
  width: calc(100% - 220px);
  background: #04502e63;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
